<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../../../assets/icons/favicon.ico" alt="logo">
        <h1>ISKANDER-LBC</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Pages" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/home">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/was-wir-sind">Ws wir sind</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/was-wir-tun">Was wir tun</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/kontakt">KontaKt</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Messages" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Messages</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Settings" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Edit profile</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger">{{'Close' ? isCollapsed : 'Open'}}</i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>