<div class="row">
  <div class="col-md-12 mb-2" *ngFor="let message of messages$ | async;">
    <div class="message">
      <div class="message__title">
        <h4>Name: {{message.name}}</h4>
      </div>
      <div class="message__content">
        <div class="message__content__title">
          <p>Email: {{message.email}}</p>
        </div>
        <div class="message__content__text">
          <p>Subject: {{message.subject}}</p>
        </div>

        <div>
          <p>Message: {{message?.message}}</p>
        </div>
        <div class="d-flex gap-2">
          <button style="background-color: #DC3545;" class="btn py-1 px-4 rounded-1 text-light" (click)="deleteMessage(message._id)">Delete</button>
          <a href="mailto:{{message.email}}" target="_blank" style="background-color: #062C7F;" class="btn text-light py-1 px-4 rounded-1">Go to mailbox</a>
        </div>
      </div>
    </div>
  </div>
</div>