.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header {
    h2 {
      font-family: Inter;
      font-size: 32px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0.9999998807907104px;
      text-align: center;
    }
    p {
      padding: 0;
      margin-top: 11px;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0px;
      text-align: center;
      color:#767676;
    }
  }
  .login-card {
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(160, 163, 189, 0.1);
    border-radius: 10px;
    padding: 30px;
    .error {
      color: #FF0000;
      font-size: 12px;
      margin-bottom: 10px;
    }
    form {
      margin-top: 30px;
      label {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1a1a;
      }
      input {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 0px;
        background: #EFF0F6;
        border: none;
        &::placeholder {
          color: #a5a5a5;
        }
        &:focus {
          outline: none;
          border-color: #4d90fe;
        }
      }
      .login-props {
        display: flex;
        flex-direction: column;
        a {
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
          line-height: 34px;
          letter-spacing: 0px;
          text-align: left;
          color: #4d90fe;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .checkbox-input{
          width: auto;
          border: none;
          margin-bottom: 0;
          background: none;
          padding: 0;
        }
      }
      button {
        display: block;
        width: 100%;
        padding: 10px;
        border: 0;
        border-radius: 5px;
        background-color: #2f49d1;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: #4d90fe;
        }
        &:disabled {
          background-color: #a5a5a5;
          cursor: not-allowed;
        }
      }
    }
  }
}