<header>
  <h2>Home</h2>
</header>

<article>
  <div class="section-group" *ngFor="let content of pageData; let i = index">
    <div class="d-flex justify-content-between align-items-center">
      <div class="section">
        <h3>{{content.title}}</h3>
      </div>
      <div class="d-flex gap-3 align-items-center">
        <div class="d-flex align-items-center">
          <label>Published</label>
          <nz-switch [ngModel]="!content.hidden" [nzControl]="true"
            (click)="publish(content, content.hidden ? false : true)">
          </nz-switch>
        </div>

        <div>
          <button class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal"
            [attr.data-bs-target]="'#'+'ed'+content._id" (click)="patchValuesToEditForm(content)">
            <img src="assets/icons/edit.png" alt="" srcset="">
          </button>
        </div>
      </div>
    </div>

    <div class="section-group-content">
      <div class="row">
        <div [class.col-md-12]="content.media.length > 0" [class.col-md-9]="content.media.length <= 0">
          <h4>{{content.title}}</h4>
          <p *ngIf="content.subTitle != ''">{{content.subTitle}}</p>
          <p *ngIf="content.extraTitle != ''">{{content.extraTitle}}</p>
          <p *ngIf="content.description != ''">{{content.description}}</p>
          <div class="media-row" *ngIf="content.media.length != 0">
            <div class="row">
              <div class="col-md-4" *ngFor="let media of content.media">
                <img class="w-100 mb-2" [src]="media.image" alt="" srcset="">
                <p>{{media.title}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" [hidden]="content.media.length > 0">
          <img src="{{content.image}}" class="w-100" alt="" srcset="">
        </div>
      </div>
    </div>

    <div *ngFor="let content of pageData; let i = index" class="modal fade" [id]="'ed'+content._id" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{content.title}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3" [formGroup]="editForm">
              <div class="col-12">
                <label for="inputAddress" class="form-label">Title</label>
                <input type="text" class="form-control" class="form-control" formControlName="title">
              </div>

              <div class="col-12">
                <label for="inputAddress" class="form-label">Sub title</label>
                <input type="text" class="form-control" class="form-control" formControlName="subTitle">
              </div>

              <div class="col-12">
                <label for="inputAddress" class="form-label">Extra title</label>
                <input type="text" class="form-control" class="form-control" formControlName="extraTitle">
              </div>

              <div class="col-12">
                <label for="inputAddress" class="form-label">Description</label>
                <input type="text" class="form-control" class="form-control" formControlName="description">
              </div>

              <div class="col-12">
                <label for="inputAddress2" class="form-label">Image</label>
                <input type="file" class="form-control">
              </div>
              
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Media</label>
                <input type="file" class="form-control">
                <input type="file" class="form-control my-2">
                <input type="file" class="form-control">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>